.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* VIDEO */
.hero-video-wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.92) contrast(1.05);
}

/* FADE */
.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;

  background: linear-gradient(
    to bottom,
    rgba(11, 13, 23, 0),
    rgba(11, 13, 23, 1)
  );

  pointer-events: none;
  z-index: 1;
}

/* CONTENT */
.hero-member-content,
.hero-guest-content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  text-align: center;
}

/* BUTTON */

.browse-button,
.join-button {
  padding: 1.2rem 3rem;
  border-radius: 999px;

  font-size: 1.35rem;
  font-weight: 600;

  border: none;

  background: rgba(0, 210, 255, 0.75);

  opacity: 0.9;

  color: var(--text-starlight);

  cursor: pointer;

  transition: all 0.3s ease;

  box-shadow:
    0 0 18px rgba(0, 210, 255, 0.45),
    0 0 45px rgba(0, 210, 255, 0.25);
}

.browse-button:hover,
.join-button:hover {
  transform: scale(1.08);

  background: rgba(36, 19, 63, 0.75);
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;

  opacity: 0.9;

  opacity: 1;

  box-shadow:
    0 0 28px rgba(28, 183, 255, 0.65),
    0 0 60px rgba(140, 98, 255, 0.35);
    
}

/* TEXT UNDER BUTTON */

.hero-member-content p,
.hero-guest-content p {
  font-size: 1.2rem;

  color: var(--text-starlight);

  text-shadow:
    0 0 6px rgba(120, 80, 255, 0.25),
    0 0 16px rgba(120, 80, 255, 0.18);
}